.main-input-holder {
    position: relative;
    width: fit-content;
}

.main-input {
    width: 25rem;
    height: 2.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 2px solid var(--text-color);
    background: var(--input-color);
    text-transform: uppercase;
    font-family: var(--comic-neue);
    padding: 0.5rem 1rem;
    position: relative;
}

.main-input-holder-i {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

@media (max-width: 500px) {
    .main-input {
        width: 15rem;
    }
}