.primary-input-holder {
    position: relative;
    width: fit-content;
}

.primary-input {
    width: 25rem;
    height: 2.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 2px solid var(--text-color);
    background: var(--input-color);
    font-family: var(--comic-neue);
    padding: 0.5rem 1rem;
    position: relative;
    user-select: none;
}

.primary-input-holder-i {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.secondary-input {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    background: var(--pending-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--text-color);
    font-family: var(--comic-neue);
}

.select-input {
    width: max-content;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--text-color);
    background: var(--commands-color);
    font-family: var(--comic-neue);
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.select-input-arrow-down {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-10%, -50%);
    transition: transform 0.5s ease-in-out;
}

.select-input::selection .select-input-arrow-down {
    transform: rotate(180deg);
}

.text-area {
    position: relative;
}

.text-area textarea {
    position: relative;
    resize: none;
    width: 25rem;
    height: 10rem;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    background: var(--input-color);
    font-family: var(--comic-neue);
    line-height: clamp(1.8rem, 4vw, 2.125rem);
    box-sizing: border-box;
    background-image: repeating-linear-gradient(to bottom,
            transparent 0,
            transparent calc(clamp(1.8rem, 4vw, 2.125rem) - 1px),
            var(--text-color) calc(clamp(1.8rem, 4vw, 2.125rem) - 1px),
            var(--text-color) clamp(1.8rem, 4vw, 2.125rem));
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    border: none;
}

.text-area-i {
    position: absolute;
    color: var(--text-color);
    top: 0.5rem;
    right: 1rem;
}

@media (max-width: 500px) {
    .primary-input {
        width: 15rem;
    }
}

@media (max-width: 300px) {
    .primary-input {
        width: 12rem;
    }
}