.transfer-view-info, 
#tranfer-view-info-basic, 
#transfer-view-info-basic, 
#transfer-view-info-progress,
#transfer-view-info-term {
    display: flex;
    justify-content: center;
    align-items: center;
}

#transfer-view {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.transfer-view-info {
    width: 100%;
    height: 30%;
    justify-content: space-around;
}

#transfer-view-info-basic, #transfer-view-info-progress, #transfer-view-info-term {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

#transfer-view-info-basic  { font-family: var(--fredoka); }

#transfer-view-info-code, #transfer-view-info-term { font-family: var(--comic-neue); }

#transfer-view-info-progress {
    font-family: var(--comic-neue);
}

#transfer-view-info-pending-observations, 
#transfer-view-info-concluded-observations { font-family: var(--nunito); }

#transfer-view-related {
    width: 100%;
    height: 70%;
    background: var(--text-color);
}

@media (max-width: 1000px) {
    .transfer-view-info {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        align-items: start;
        padding: 0 1rem;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;        
    }

    .transfer-view-info.opened {
        transform: translateX(0);
    }

    #transfer-view-related {
        height: 100%;
    }
}